An email cold agent/ai-cold-email-orchestrator.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -384,
        -112
      ],
      "id": "4c88d63b-7eed-4580-9cf1-5d5e0b85f9bd",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1VzSuqAKfD57jrblYQcGkbEabQS7zc7krFQc8DHse7ws",
          "mode": "list",
          "cachedResultName": "Leads List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VzSuqAKfD57jrblYQcGkbEabQS7zc7krFQc8DHse7ws/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 314548737,
          "mode": "list",
          "cachedResultName": "Leads List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VzSuqAKfD57jrblYQcGkbEabQS7zc7krFQc8DHse7ws/edit#gid=314548737"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -176,
        -112
      ],
      "id": "e032ebef-d88e-49e0-8654-07e967af202c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lVwgwDJ1mF9P2DmU",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name:  {{ $json.Name }}\nCompany: {{ $json.Company }}\nWebsite: {{ $json.Website }}\nEmail: {{ $json.Email }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert cold email writer with 5 years experience.\nYour job is to generate short, personalized cold emails that propose AI and automation services to businesses.\nKeep the tone friendly, human generated, simple, and clear.\nAlways personalise the email using the details provided in the user prompt.\nAvoid generic lines.\nWrite the cold email in 4-5 lines max.\nFocus on how AI agents and automation can help them improve efficiency, reduce manual work, increase sales, and streamline operations.\nDo not add placeholders or brackets.\nProduce only the final email body with no introduction or explanation.\nAdd signature Best,  M Haassan"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        -112
      ],
      "id": "b2bc098a-8b05-41b2-8a05-6d391b45e128",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"subject\": \"subject\",\n  \"body\": \"body\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        208,
        96
      ],
      "id": "638945a9-d984-4fce-862f-7be3245f731f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        32,
        64
      ],
      "id": "cf73267c-12b0-4f8f-9804-28151e206540",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Ma7D3gix3XJMMBfb",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json.Email }}",
        "subject": "={{ $json.output.subject }}",
        "emailType": "text",
        "message": "={{ $json.output.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "M Hassan"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        352,
        -112
      ],
      "id": "9c70ba6e-38aa-487b-9465-3a098dba3fd7",
      "name": "Send a message",
      "webhookId": "3b92f5de-37eb-491c-b26c-35a023eeac73",
      "credentials": {
        "gmailOAuth2": {
          "id": "D6FjNcBH1BLzyhi3",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1VzSuqAKfD57jrblYQcGkbEabQS7zc7krFQc8DHse7ws",
          "mode": "list",
          "cachedResultName": "Leads List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VzSuqAKfD57jrblYQcGkbEabQS7zc7krFQc8DHse7ws/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 314548737,
          "mode": "list",
          "cachedResultName": "Leads List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1VzSuqAKfD57jrblYQcGkbEabQS7zc7krFQc8DHse7ws/edit#gid=314548737"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get row(s) in sheet').item.json.row_number }}",
            "Status": "Sent"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -112
      ],
      "id": "6a3fb10e-43ba-46ed-8f32-1ed845601860",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lVwgwDJ1mF9P2DmU",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cf4006ba-5724-44f1-a0e0-e6997542f984",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ce168118c3494af486ee8ccab4290b379cc9733656d47afb0709783c549d4fe"
  },
  "nodeGroups": [],
  "id": "HZaKyNF1DsVqPzBS",
  "tags": []
}